body{
font-family: 'Roboto', sans-serif;
background-image: linear-gradient(-90deg, rgba(255,255,255,0.59) 0%, rgba(227,219,25,0.63) 14%, rgba(21,246,209,0.68) 30%, rgba(12,255,3,0.66) 46%, rgba(193,2,251,0.65) 61%, rgba(233,10,10,0.65) 77%, rgba(6,33,255,0.64) 93%, rgba(227,227,227,0.64) 100%);
margin: 0;
padding: 1em;
}




.avatar{
width:40px;
display:block;
margin-top: 10px;
margin-left:auto;
margin-right:auto;
}

.btn-default{
	width:50px;
}

.btn-primary{
box-shadow: 2px 2px 4px #888888;
border-radius:2px;
font-weight: 300;
font-size: 20px;
}

.btn:active{
  box-shadow:0px 1px 0px;
  top:3px;
}

.card{
width:90%;
display:block;
margin-left: auto;
margin-right: auto;
box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}

/*.card:hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);	
}*/


.card-img-top{
width:100%;
}

.card-title{
font-family: 'Source Code Pro', monospace;	
}

#create, #community{
display:inline-block;
margin-left: auto;
margin-right: auto;
width:140px;
height:40px;
background:#000000;
color:#FFFFFF;
text-align: center;
font-size: 24px;
font-family: 'Source Code Pro', monospace;
}

.create-page, .community-page{
/*text-decoration: underline;
-moz-text-decoration-color: #F40B0B; 
text-decoration-color: #F40B0B;	*/
border-bottom: 2px solid #F40B0B;
}


.featured{
  color: #ffffff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size:28px;	
}

.input-group{
position:relative;
top:10px;
width:100%;
}

.like-button{
display:inline-block;
float:right;
height:30px;
width:50px;
font-size: 16px;
border:1px solid #d4d4d4;
border-radius: 5px;
text-align: center;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
color:#a3a3a3;

-webkit-transition: background-color 0.3s ease;
-moz-transition: background-color 0.3s ease;
-o-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
}

.like-button:hover{
	background-color:#ebebeb;
}


.logo{
width:40px;
display:block;
margin-top: 10px;
margin-left:auto;
margin-right: auto;	
}

.navigation{
width:100%;
margin:0 auto;
text-align: center;
}

.search-bar{
background: rgba(237,240,246,0.60);
height:60px;
margin-bottom: 20px;
	
}


.social-share{
	margin-left: 10px;
}


.title{
width:60%;
max-width: 70%;
display:block;
margin-left: auto;
margin-right: auto;
}

.vidGrid{
width:100%;	
display:block;
margin-left: auto;
margin-right: auto;
font-size: 18px;
}


.vid .card{
width:196px;
display:block;
margin-left: auto;
margin-right: auto;
}

.vid .card-img-top{
width:196px;
height:110px;
}

.vid .card-title{
font-size: 16px;
}

.vid .card-text{
font-size: 12px;
}



#myVideo, .myVideo{
	width:100% !important;
	max-width:400px !important;
	max-height:300px !important;
	min-width: 320px;
	min-height: 240px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.card-published{
width: 100% !important;	
min-width: 330px !important;
max-width:400px !important; 
position:relative;
margin-left: auto;
margin-right: auto;
}


.published .card-title{
font-size: 22px;
}

.published .card-text{
font-size: 16px;
}

.search-result .card{
width: 100% !important;	
min-width: 330px !important;
max-width:400px !important; 
display:block;
margin-left: auto;
margin-right: auto;
}

.search-result .searchVid{
width:320px;
height:240px;
display:block;
margin-left: auto;
margin-right: auto;
border-radius: 2px;
}

.search-result .card-title{
font-size: 16px;
}

.search-result .card-text{
font-size: 12px;
}
